@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark1: #131313;
	--dark2: #424242;
	--dark3: #727272;
	--dark4: #a1a1a1;
}

body {
	font-family: "Work Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.btn-primary {
	padding: 20px 25px;
	border-radius: 8px;
	background: #ff900e;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	border: none;
	cursor: pointer;
}

/*===========================
HEADER AREA CSS HERE
=============================*/
.header-area {
	background: rgba(255, 144, 14, 0.1);
	padding-top: 50px;
	padding-bottom: 45px;
}

.navbar-area {
	justify-content: space-between;
}

.navbar-area ul {
	list-style: none;
	gap: 30px;
}

.navbar-area ul li a {
	color: var(--dark2);
	font-size: 18px;
	font-weight: 500;
	line-height: 144.444%;
	text-decoration: none;
}

.hero-description {
	max-width: 862px;
	margin: auto;
	padding-top: 102px;
	text-align: center;
}

.hero-description h1 {
	color: var(--dark1);
	font-size: 64px;
	font-weight: 700;
}

.hero-description p {
	color: var(--dark3);
	line-height: 162.5%;
	margin-top: 25px;
	margin-bottom: 32px;
}

.hero-area img {
	width: 100%;
	margin-top: 50px;
}

/*===========================
FEATURES AREA CSS HERE
=============================*/
.feature-area {
	padding-top: 85px;
	padding-bottom: 130px;
}

.feature-wrpper {
	padding: 0 61px;
	gap: 76px;
}

.feature-images {
	width: 60%;
}

.feature-desc {
	width: 40%;
}

.feature-images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.feature-images img {
	width: 100%;
}

.feature-desc h2 {
	color: var(--dark1);
	font-size: 45px;
	font-weight: 700;
}

.feature-desc h2 span:first-child {
	color: var(--dark3);
	font-weight: 500;
}

.feature-desc h2 span:last-child {
	color: #ff900e;
}

.feature-desc p {
	margin-top: 24px;
	margin-bottom: 32px;
	color: var(--dark3);
	line-height: 162.5%;
}

/*===========================
LOVE AND ENJOY AREA CSS HERE
=============================*/
.love-enjoy-area {
	padding-bottom: 168px;
}

.love-enjoy-wrpper {
	justify-content: space-between;
}

.love-enjoy-desc {
	width: 40%;
}

.love-enjoy-img {
	width: 50%;
}

.love-enjoy-wrpper {
	position: relative;
}

.love-enjoy-img .btn-position img {
	width: 100%;
}

.love-enjoy-img .btn-position {
	position: sticky;
	top: 0;
}

.title-short-desc h2 {
	color: var(--dark1);
	font-size: 45px;
	font-weight: 700;
	padding-left: 21px;
	border-left: 5px solid #ff900e;
}

.title-short-desc p {
	color: var(--dark3);
	line-height: 162.5%;
	margin-top: 24px;
	margin-bottom: 30px;
}

.feature-cards {
	flex-direction: column;
	row-gap: 20px;
}

.feature-card {
	padding: 30px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-card h3 {
	color: var(--dark1);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.feature-card p {
	color: var(--dark3);
	line-height: 162.5%;
}

.btn-position {
	position: relative;
}

.love-enjoy-img button {
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	position: absolute;
	z-index: 2;
	left: -75px;
	bottom: -45px;
}

.love-enjoy-img button span {
	font-size: 65px;
	font-weight: 700;
	line-height: 107.692%;
}

/*===========================
SOME FACTS AREA CSS HERE
=============================*/
.some-facts-area {
	padding-bottom: 180px;
}

.some-facts-wrpper h2 {
	color: var(--dark1);
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 24px;
}

.some-facts-wrpper > p {
	max-width: 542px;
	color: var(--dark3);
	line-height: 162.5%;
}

.facts-cards {
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fact-card {
	border-radius: 8px;
	border: 1px solid #ff900e;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	width: 242px;
}

.fact-card h4 {
	color: var(--dark2);
	font-size: 45px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}

.fact-card p {
	color: var(--dark3);
	font-size: 20px;
	font-weight: 600;
}

/*===========================
OUR SPONSOR AREA CSS HERE
=============================*/
.our-sponsor-area {
	padding-bottom: 130px;
}

.our-sponsor-wrpper h2 {
	color: var(--dark1);
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 24px;
	text-align: center;
}

.our-sponsor-wrpper p {
	max-width: 542px;
	margin: auto;
	text-align: center;
	color: var(--dark3);
	line-height: 162.5%;
	margin-bottom: 50px;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	align-items: center;
	justify-content: space-between;
}

.sponsors img {
	width: 155px;
	filter: grayscale(100%);
}

/*===========================
FOOTER AREA CSS HERE
=============================*/
footer {
	padding-bottom: 100px;
}

.footer-wrpper {
	padding: 39px;
	border-radius: 8px;
	background: #fff4e7;
	color: var(--dark2);
	text-align: center;
	font-size: 20px;
}
